.logo img {
  width: 50px;
}
.banner {
  background-image: url(../img/banner01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.sub_banner {
  background-image: url(../img/banner01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 50px 20px 50px 20px;
  color: white;
}
.separator {
  width: 200px;
  background-color: white;
  height: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form_size {
  max-width: 1000px;
}
.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}
.modal-body {
  position: relative;
  padding: 0px;
}
.btn-close {
  position: absolute;
  right: -30px;
  top: 0;
}
.history_image {
  width: 100%;
}
.font_prvni {
  font-family: "Times New Roman", Times, serif;
}
.font_druhy {
  font-family: fantasy;
}
.card {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.card .content {
  display: flex;
  flex-wrap: wrap;
}
.card img {
  width: 100%;
}
nav {
  background-color: white;
}
